body {
    background: rgb(61, 252, 141);
}

.principal{
    background-color: rgb(61, 198, 252);
    padding:30px;
}

.items{
    font-style: italic;
}

.beneficios{
    background: rgb(208, 127, 255);
    padding: 20px;
}

p {
    text-align: center;
}

em strong {
    color: #7c42c7;
}
#baner {
    width: 100%;
}

h1{
    text-align: center;
}
h2{
    text-align: center;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20px;
    margin-right: 15%;
}
.imgbeneficios{
    width: 50%;
}
#missao {
    font-size: 30px;
}
#cenigal{
    font-size: 100px;
}
